<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
I am a self-taught developer, lifelong learner, WordPress expert and SEO pioneer since 2006. During my business journey, I've done many different projects as a web developer, SEO specialist, social media manager, copywriter and product owner. 
<br /><br />
I found a true passion to become a programmer. I love to code, solve problems and optimize or automate routine tasks. 
<br /><br />
In November I was accepted to Google Developer Scholarship on the Front-End Web Developer track. I’m incredibly happy about it. I’ll try my best to become awesome.
<br /><br />
If you’re looking to connect with me regarding any sort of opportunity please do not hesitate to send me an e-mail. My door is always open.
</div>